* {
    box-sizing: border-box;
}
.name{background-color: chartreuse;}
.lake{width: 500px;}
.dessert{width: 60%;}
/* section for landscape */
.container {
    background-color: aqua;
    padding-top: 2em;
    padding-bottom: 2em;
}
.title {
    border: solid 5px;
    text-align: center;
    background-color: beige;
    padding: 1em;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 8px black;
    margin-bottom: 2em;
}
.image1, .image2, .image3, .image4 {
    width: 45%;
}
.image1 {
    border-radius: 20px;
    margin-right: 5%;
}
.image2 {
    border-radius: 50%;
}.image3 {
    border: ridge 10px brown;
    padding: 1em;
}
.image4 {
    box-shadow: 0 0 20px 10px red;
    border-radius: 15px;
    margin-left: 5%;
}
.QCCLink {
    background-color: goldenrod;
    color: darkmagenta;
    display: block;
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    padding: 1em;
    margin-top: 2em;
    border-radius: 10px;
}
.QCCLink:hover {
    background-color: maroon;
    color: whitesmoke;
    box-shadow: 0 0 10px 5px darkslategrey;
}
/*navigation tabs*/
.vertical {
    list-style-type: none;
}
.link {
    text-decoration: none;
    background-color: chartreuse;
    display: block;
    text-align: center;
    padding: 1em;
    width: 50%;
    color: blueviolet;
}
.link:hover {
    background-color: crimson;
    color: whitesmoke;
    border: 1px solid;
}
.horizontal {
    background-color: aquamarine;
    /*
    position: fixed;
    top: 0;
    */
}
.link2 {
    color: rgb(141, 27, 27);
    display: inline-block;
    padding: 1em 2em;
    width: 30%;
    text-align: center;
}
.link2:hover {
    background-color: #006400;
    color: whitesmoke;
    text-decoration: none;
}
/*POSITIONS*/
.pos {
    border: ridge 5px greenyellow;
    width: 80%;
    margin: auto;
    position: relative;
}
.positionImg {
    width: 100%;
    display: block;
}
.paragraph {
    position: absolute;
    top: 10px;
    left: 10%;
    right: 10%;
    background-color: rgba(141, 27, 27, 0.5);
    text-align: center;
    padding: 2em;
    font-size: 2em;
    color: whitesmoke;
}
/*Sticky*/
.stickyH1 {
    background-color: greenyellow;
    padding: 1em;
    text-align: center;
    position: sticky;
    bottom: 0px;
}
/*z-index*/
.zcontainer{
    position: relative;
    border: outset 10px
     tomato;
     height: 500px;
     display: flex;
}
.zimage1{
    width: 100%;
    height: 100%; position: absolute;z-index:0
}
.zimage2{
    width: 60%;
    height: 60%;position: absolute;z-index:2;
}
.zparagraph{
    font-size: 5em;position: absolute;z-index:1;
}
/*Filters*/
.blur1, .blur2, .blur3, .sepia1, .sepia2, .sepia3, .invert1, .invert2, .invert3 {
    width: 30%;
    margin-left: 2%;
}
.blur1 {
    filter: blur(1px);
}
.blur2 {
    filter: blur(10px);
}
.blur3 {
    filter: blur(20px);
}
.sepia1 {
    filter: sepia(10%);
}
.sepia2 {
    filter: sepia(60%);
}
.sepia3 {
    filter: sepia(100%);
}
.invert1 {
    filter: invert(20%);
}
.invert2 {
    filter: invert(60%);
}
.invert3 {
    filter: invert(100%);
}